body {
  background-color:  #E8DDC1;
  margin: 0;
  padding: 0;
  font-size: 20px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*general settings*/

.main-section{
  flex-grow: 1;
  margin: 0 25%;
}
.large-main{
  flex-grow: 1;
  margin: 0 15%;
}
@media only screen and (max-width: 1000px){
  .main-section{
    margin: 0 10%;
  }
}
@media only screen and (max-width: 700px){
  .main-section {
    margin: 0;
  }
}



h1, h2, p,li, ul, a {
  margin: 0;
  padding: 0;
}

.big-center {
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
}

.center {
  text-align: center;
  margin-top: 0.5em;
}


/* h1 {
  padding: 0 30px;
  margin: 20px 20px;
} */

nav {
    width: 100%;
/*    background: red;*/
}
ul{
  list-style-type: none;
  display: flex;
}
li {
}
li.active{
  background: #A19591;
}

li a,
li .dropbtn,
.dropdown-content a{
  padding: 30px 0px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
}

.dropdown-content a{
  background-color: #746763aa;
}

header a {
    color: white;
}
a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5s;
    font-size: 20px;
}

.toppicture {
  width: 100%;
  height: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
  padding: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@font-face {
  font-family: "Awakmu";
  src: url("Awakmu.ttf");
  font-weight: normal;
}
body {
  font-family: "Awakmu";
}

 .toppicture {
   height: 300px;
   background-image: url('assets/img/Cold April.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .toppictureIndex {
   height: 300px;
   background-image: url('assets/img/Babusia.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .toppictureRestoration {
   height: 300px;
   background-image: url('assets/img/rest.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .toppicture-nature{
   height: 300px;
   background-image: url('assets/img/Graples.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .toppictureContact{
   height: 300px;
   background-image: url('assets/img/Berry scent.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
/*display: grid;
grid-template-columns: repeat(3, 30%);
grid-template-rows: 20% 20% 20% 20% 20%;
*/

header {
  /*padding-top: 100px */
position: fixed;
display: flex;
justify-content: space-between;
  background-color:  #746763;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  z-index: 2;
}
#header-logo{
  font-size: 36px;
	height: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.paint {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.paintbox{
  margin: 2%;
}

.paint img {
	width: 100%;
	aspect-ratio: 1;
	height: auto;
	object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  /* Style the Image Used to Trigger the Modal */
}

.paint img:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 1000px){
  .paint {
    grid-template-columns: repeat(1, 1fr);
  }
}

.restoration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(0px, auto);
}


.restorTaitel {
	grid-column-end: span 2;
  margin-top: 5%;
}

.restorationbox{
  margin: 5%;
}
.restoration img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.myinfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(0px, auto);
  padding: 5%;
}
@media only screen and (max-width: 1000px){
  .myinfo {
    grid-template-columns: repeat(1, 1fr);
  }
  .myinfo img{
    order: 0;
  }
  .myinfo p{
    order: 1;
  }
}

.myinfo img {
	width: 100%;
	height: auto;
	object-fit: cover;
}


/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index:1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 10px 0;
 height: 150px;
}

#modalImg {
  max-height: 70vh;
  max-width: 90vw;
  width: auto;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
 animation-name: zoom;
 animation-duration: 0.6s;
}

@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)}
}

/* The Close Button */
.close {
 position: absolute;
 top: 95px;
 right: 35px;
 color: #f1f1f1;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
 z-index: 100;
}

.close:hover,
.close:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}

@media only screen and (max-width: 700px){
  .close {
    margin-top:-10%;
  }
}

  footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    background-color:  #443835;
  }

  footer > * {
    font-size: 20px;
    margin: 0;
    padding: 20px 0;
  }

  @media only screen and (max-width: 810px) {
  footer > * {
    font-size: 14px;
  }
}

footer a {
  color:#bbb;
  font-size: 18px;
}

.desktop-nav{
  display: flex;
}
.mobile-nav{
  display: none;
}
@media only screen and (max-width: 810px) {
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .mobile-container {
    max-width: 480px;
    margin: auto;
    /* background-color: #555; */
    height: 500px;
    border-radius: 10px;
  }

  .mobile-nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .mobile-nav #myLinks {
    display: none;
  }

  .mobile-nav a, details{
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

::marker {
  display: none;
}
summary {
  list-style: none;
/*  margin: 0 20px;*/
}
details > a:last-child {
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}
  .mobile-nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* .mobile-nav a:hover,
  .mobile-nav details:hover {
    background-color: #ddd;
    color: black;
  } */

  .active {
  /*  background-color: #04AA6D;*/
    color: white;
  }
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form { max-width:420px; margin:50px auto; }

.action_page {
  color: black;
  font-family: Helvetica, Aria, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #746763;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}


.feedback-input {
  color: black;
  font-family: Helvetica, Aria, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
background-color: rgba(255,255,255,0.4);
  border:2px solid #746763;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid black; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#746763;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
